html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url("../img/bg.jpeg");
    background-color: #79CAC3;
    color: #018579;
    margin: 0;
}


a:link{
    color: #0d5750;
}
a:visited{
    color: #0d5750;
}
a:hover{
    color: #FFFAE4;
}
/*a:focus{*/
/*    color:green;*/
/*}*/
/*a:active{*/
/*    color:red;*/
/*}*/


header {
    text-align: center;
    background-color: #FFFAE4;
    padding-top: 5%;
    padding-bottom: 2%;
    color: #7E683D;
}

section {
    width: 75%;
    margin: auto;
    color: #0d5750;
    background-color: rgb(255,255,255,0.3);
    margin-top: 2%;
    padding: 2%;
    line-height: 30px;
    border: #0d5750 dashed 2px;
    border-radius: 50px;
}
.centering {
    text-align: center;
}

.sorry {
    width: 50%;
    margin: auto;
    display: flex;
    margin-top: 2%;
    align-content: center;
    text-align: center;
}

.item {
    margin-right: 3%;
}

.item p {
    font-size: 2em;
    margin-top: 30%;
}

.axis {
    color: #786B50;
    font-size: 12px;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
}

.title {
    color: #786B50;
    font-size: 20px;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 3px;
    font: 16px sans-serif;
    background: lightsteelblue;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.source {
    font-size: 13px;
}
.axis {
    color: #786B50;
    font-size: 12px;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
}

.title {
    color: #786B50;
    font-size: 20px;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
}

.grid line {
    stroke: #786B50;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 3px;
    font: 16px sans-serif;
    background: #f2dab3;
    border-radius: 10px;
    color: #8D6425;
    border: solid 2px #8D6425;
}

.white-bg {
    background-color: #FFFAE6;
    border: 3px solid #bda480;
    border-radius: 15px;
    overflow: scroll;
    align-content: center;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}